{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "commonjs"
      }
    ],
  "@babel/preset-react"
  ],
  "plugins": [
    "relay",
    "@babel/transform-async-to-generator",
    "@babel/plugin-proposal-class-properties"
  ]
}
